<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Libro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h1 class="text-center mb-4">Editar Libro</h1>
    <form th:object="${book}" th:action="@{/book/edit}" method="post">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="bookId" name="bookId"  th:value="${book.bookId()}" hidden>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" name="title"  th:value="${book.title()}" required>
            <label for="title" class="form-label">Título</label>
        </div>

        <div class="form-floating mb-3">
            <select id="authorId" name="authorId" class="form-control" th:field="*{authorId}" required>
                <option value="">Selecciona un autor</option>
                <option th:each="author : ${authors}"
                        th:value="${author.authorId}"
                        th:text="${author.name}"
                        th:selected="${author.authorId == book.authorId()}">
                </option>
            </select>
            <label for="authorId" class="form-label">Autor</label>
        </div>

        <div class="form-floating mb-3">
            <select id="typeBookGenreId" name="typeBookGenreId" class="form-control" th:field="*{typeBookGenreId}" required>
                <option value="">Selecciona un autor</option>
                <option th:each="typeBookGenre : ${typeBookGenres}"
                        th:value="${typeBookGenre.typeBookGenreId}"
                        th:text="${typeBookGenre.name}"
                        th:selected="${typeBookGenre.typeBookGenreId() == book.typeBookGenreId()}">
                </option>
            </select>
            <label for="authorId" class="form-label">Género</label>
        </div>


        <div class="form-floating mb-3">
            <select id="editorialId" name="editorialId" class="form-control" th:field="*{editorialId}" required>
                <option value="">Selecciona un autor</option>
                <option th:each="editorial : ${editorials}"
                        th:value="${editorial.editorialId()}"
                        th:text="${editorial.name}"
                        th:selected="${editorial.editorialId() == book.editorialId()}">
                </option>
            </select>
            <label for="authorId" class="form-label">Género</label>
        </div>

        <div class="mb-3">
            <label for="publishedYear" class="form-label">Año de Publicación</label>
            <input type="number" class="form-control" id="publishedYear" name="publishedYear" th:value="${book.publishedYear}" required>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="isAvailable" name="isAvailable" th:field="*{isAvailable}" required>
                <option disabled value="">Seleccione...</option>
                <option th:value="true" th:selected="*{isAvailable == true}">Sí</option>
                <option th:value="false" th:selected="*{isAvailable == false}">No</option>
            </select>
            <label for="isAvailable" class="form-label">Disponible</label>
        </div>


        <div class="text-center">
            <button type="submit" class="btn btn-success">Actualizar</button>
            <a href="/book/list" class="btn btn-primary">Cancelar</a>
        </div>
    </form>
</div>

</body>
</html>